.env.php
.vscode/
composer.lock
node_modules
node_modules/*
package-lock.json
vendor
vendor/*
files/2024
app/run/*.json
app/run/logs/*
wp-content/debug.log
start.sh
wp-content/plugins/local_*
wp-content/plugins/.*